@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Black.ttf) format("truetype");
  font-weight: 900;
  font-display: swap;
}
