.advantages {
  padding: 24px;
  margin-bottom: 80px;
  background-image: url(/src/img/advantages/Vailya-background.webp);
  background-color: #ecdfc3;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.advantages__wrapper {
  padding: 56px 40px;
  background-color: $basic-extra-light;
  border-radius: 16px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 56px;
  text-align: center;
  letter-spacing: -1.7px;
  word-spacing: -3.3px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages__text {
  position: relative;
  margin: 0;
  padding-left: 64px;
  letter-spacing: 0.6px;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
  }
}

.icon--ice-cream {
  background-image: url(/src/img/advantages/ice-cream.svg);
  background-repeat: no-repeat;
}

.icon--ice-cow {
  background-image: url(/src/img/advantages/Cow.svg);
  background-repeat: no-repeat;
}

.icon--leaf {
  background-image: url(/src/img/advantages/Leaf.svg);
  background-repeat: no-repeat;
}

.icon--thermometer {
  background-image: url(/src/img/advantages/Thermometer.svg);
  background-repeat: no-repeat;
}
