.blog {
  padding: 32px;
  padding-bottom: 63px;
  background-image: url(/src/img/blog/blog-background.webp);
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 16px;
}

.blog__text {
  margin: 0;
  margin-bottom: 12.5px;
  width: 303px;
}

.blog__title {
  margin: 0;
  width: 303px;
}
