.popup {
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 104px;
  font-size: 16px;
  line-height: 20px;
  color: $basic-extra-dark;
}

.main-header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo__link {
  display: inline-block;
  text-decoration: none;

  &:focus {
    outline: 2px solid $basic-extra-dark;
  }
}

.main-header__item {
  position: relative;
}

.main-header__item .popup {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  padding: 0;
  background-color: $basic-extra-light;
  box-sizing: border-box;
  z-index: 3;
}

.main-header__item .popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__item .popup__item {
  font-size: 14px;

  &:first-child {
    padding: 16px;
    font-weight: 700;
    border-bottom: 1px solid #b9b9b9;
  }
}

.main-header__item .popup__link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  text-wrap: nowrap;
  color: inherit;

  &:hover {
    background-color: $special-exta-light;
  }

  &:focus {
    background-color: $special-neutral;
    outline: none;
  }

  &:active {
    color: $basic-extra-light;
    background-color: $special-bright;
  }
}

.logo__img {
  width: 137px;
  height: 56px;
  margin-right: 16px;
}

.main-header__link {
  display: inline-block;
  padding: 8px 16.5px;
  text-decoration: none;
  color: inherit;
  border-radius: 26px;

  &--current {
    color: $basic-extra-light;
    background-color: $special-bright;
  }

  &:hover {
    background-color: rgba($basic-extra-light, 0.5);
  }

  &:focus {
    outline: 2px solid $basic-extra-dark;
  }

  &:active {
    background-color: $basic-extra-light;
    outline-color: transparent;
  }
}

.user-navigation {
  display: flex;
  align-items: center;
}

.user-navigation__tel {
  margin-right: 18px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.user-navigation__search {
  position: relative;
  margin-right: 16px;
}

.user-navigation__search .popup {
  position: absolute;
  display: none;
  top: 40px;
  right: 0;
  min-width: 356px;
  padding: 24px 16px;
  background-color: $basic-extra-light;
  z-index: 3;
}

.user-navigation__search .input {
  width: 100%;
}

.user-navigation__search .popup__close {
  position: absolute;
  top: 40px;
  right: 32px;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  opacity: 0.4;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.user-navigation__button {
  display: inline-flex;
  min-width: 32px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: inherit;
  background-color: rgba($basic-extra-light, 0.3);
  border: none;
  border-radius: 26px;
  cursor: pointer;

  &:hover {
    background-color: rgba($basic-extra-light, 0.5);
  }

  &:focus {
    outline: 2px solid $basic-extra-dark;
  }

  &:active {
    background-color: $basic-extra-light;
    outline-color: transparent;
  }
}

.user-navigation__login {
  position: relative;
}

.user-navigation__login .user-navigation__button {
  min-width: 92px;
  margin-right: 16px;
}

.user-navigation__cart .user-navigation__button {
  min-width: 97px;
}

.page__catalog .user-navigation__cart .user-navigation__button {
  min-width: 117px;
}

.user-navigation__login .popup {
  position: absolute;
  top: 40px;
  right: 17px;
  display: none; //grid
  min-width: 420px;
  padding: 48px 48px 52px;
  background-color: $basic-extra-light;
  z-index: 3;
  box-sizing: border-box;
}

.user-navigation__login .popup__title {
  margin: 0 0 32px;
  font-size: 24px;
  line-height: 30px;
}

.user-navigation__login .popup__email {
  margin-bottom: 16px;
}

.user-navigation__login .popup__password {
  margin-bottom: 32px;
}

.user-navigation__login .popup__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 6px;
  align-items: end;
}

.user-navigation__login .button {
  grid-row: 1/-1;
  margin-right: 19px;
}

.user-navigation__login .popup__link {
  font-size: 14px;
  color: $basic-extra-dark;
}

.user-navigation__img {
  margin-right: 6px;
}

.user-navigation__cart {
  position: relative;
}

.user-navigation__cart .popup {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  min-width: 288px;
  padding: 48px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  background-color: $basic-extra-light;
  z-index: 3;
  box-sizing: border-box;
}

.user-navigation__cart .popup__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.page__catalog .popup__title {
  min-width: 345px;
  margin-bottom: 32px;
  text-align: left;
}

.user-navigation__cart .popup__list {
  margin: 0 0 64px;
  padding: 0;
  list-style: none;
}

.user-navigation__cart .popup__item {
  display: flex;
  align-items: center;

  + .popup__item {
    margin-top: 24px;
  }
}

.user-navigation__cart .popup__text {
  display: grid;
  margin: 0;
  margin-left: 16px;
}

.user-navigation__cart .popup__span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $basic-neutral;
}

.user-navigation__cart .popup__price-item {
  margin: 0 auto;
}

.user-navigation__cart .popup__close {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.user-navigation__cart .popup__price {
  margin: 0;
}

.user-navigation__cart .popup__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
