.main-footer__wrapper {
  display: flex;
}

.main-footer__social {
  margin-right: 328px;
}

.social__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  width: 104px;
  list-style: none;
}

.social__link {
  svg {
    border-radius: 100px;
    border: 2px solid rgba(252, 252, 252, 0.2);

    &:hover {
      border-radius: 100px;
      border: 2px solid rgba(252, 252, 252, 0);
      background: var(--basic-extra-dark, #2d3440);
    }

    &:active {
      border-radius: 100px;
      border: 2px solid rgba(252, 252, 252, 0.2);
      background: var(--basic-extra-dark, #2d3440);
    }
  }
}

.main-footer__about-us {
  margin-right: auto;
}

.about-us__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 126px 182px;
  grid-column-gap: 24px;
  grid-row-gap: 8px;
  list-style: none;
}

.about-us__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $basic-extra-dark;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.about-us__link--current {
  position: relative;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 1px;
    left: -24px;
    content: "";
    background-image: url(/src/img/main-footer/about-us/Heart-fill.webp);
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-footer__copyright {
  padding-right: 14px;
}

.copyright__text {
  margin: 0;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  .copyright__link {
    color: currentColor;

    &:hover {
      opacity: 0.7;
    }
  }
}
