.pagination {
  display: grid;
  align-items: center;
}

.pagination__button {
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  grid-row: 1/ -1;
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  &:nth-child(1) {
    margin-right: 10px;
  }

  &:nth-child(6) {
    margin-right: 10px;
  }
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  text-decoration: none;
  color: $basic-extra-dark;
  box-sizing: border-box;

  &:first-child {
    margin-right: 3px;
  }

  &:hover {
    border-radius: 50%;
    border: 1px solid $basic-extra-light;
    background-color: rgba(252, 252, 252, 0.3);
  }

  &:focus {
    border-radius: 50%;
    border: 1px solid $basic-extra-dark;
    background-color: rgba(252, 252, 252, 0.3);
  }
}

.pagination--current {
  border-radius: 50%;
  background: $basic-extra-light;
}

.pagination--prev {
  background-image: url("/src/img/pagination/Arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  transform: rotate(180deg);
}

.pagination--next {
  background-image: url("/src/img/pagination/Arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.pagination--disabled {
  border-radius: 50%;
  opacity: 0.4;
  background-color: transparent;
}
